.nothing-selected {
    @include center-grid-content;
    text-align: center;
    background-color: $primary;
    color: $white;
    grid-gap: 1rem;
    &__text {
        font-size: 2rem;
    }
    &__icon {
        font-size: 5rem;
    }
}
